[mysqld]
# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Connection
max_connections = 50
max_connect_errors = 25

# Performance
innodb_buffer_pool_size = 256M
innodb_redo_log_capacity = 128M

# Time zone
default-time-zone = '+07:00'

# Logging
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# Security
local_infile = 0

[client]
default-character-set = utf8mb4
